/*!****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/dark.css ***!
  \****************************************************************/
.dark {
  background-color: #1B1B1B;
}

.dark .mainHeader {
  display: block;
  font-size: 50px;
  text-align: center;
  width: 100vw;
  color: #919191;
}

.dark .addItemForm {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  max-width: 100%;
}

.dark .addItemForm label {
  max-width: 15%;
  text-align: center;
  align-self: center;
  font-weight: bold;
  font-size: 20px;
  color: #919191;
}

.dark input[type="text"] {
  max-width: 70%;
  height: 40px;
  background-color: #232323;
  color: #919191;
  outline: none;
  border: none;
}

.dark .submitItem {
  max-width: 15%;
  padding: 5px;
  background-color: #0C0F17;
  color: #919191;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dark .todoContainer {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

@media screen and (max-width: 412px) {
  .dark .todoContainer {
    flex-flow: column nowrap;
    max-width: 100%;
  }
}

.dark .todoList {
  display: block;
  width: 50%;
  text-align: center;
}

.dark .notDoneListContainer {
  width: 50%;
  padding: 5px;
}

@media screen and (max-width: 411px) {
  .dark .notDoneListContainer {
    width: 100%;
  }
}

.dark .notDoneListContainer h1 {
  text-transform: uppercase;
  text-align: center;
  color: #919191;
}

.dark .notDoneListContainer p {
  font-size: 25px;
  text-align: center;
  color: #919191;
}

.dark .doneList {
  display: block;
  max-width: 100%;
  text-align: center;
}

.dark .doneListContainer {
  width: 50%;
  padding: 5px;
}

@media screen and (max-width: 411px) {
  .dark .doneListContainer {
    width: 100%;
  }
}

.dark .doneListContainer h1 {
  text-transform: uppercase;
  text-align: center;
  color: #919191;
}

.dark .doneListContainer p {
  font-size: 25px;
  text-align: center;
}

.dark #notDone {
  color: darkred;
  font-size: 55px;
}

.dark #done {
  color: green;
  font-size: 50px;
}

.dark .items {
  font-size: 28px;
  max-width: 100%;
  list-style-position: inside;
  padding: 0;
}

.dark .items div {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.dark .items li {
  background-color: #232323;
  margin: 8px 0;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

.dark #closeBtn {
  color: darkred;
  margin: 10px;
  font-size: 17px;
  border-radius: 5px;
  background-color: #0C0F17;
  border: none;
}

.dark .changeThemeBtn {
  background-color: #0C0F17;
  color: #919191;
  border: none;
  padding: 6px;
  border-radius: 6px;
}

/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/light.css ***!
  \*****************************************************************/
.light {
  background-color: white;
}

.light .mainHeader {
  display: block;
  font-size: 50px;
  text-align: center;
  width: 100vw;
}

.light .addItemForm {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  max-width: 100%;
}

.light .addItemForm label {
  text-align: center;
  align-self: center;
  font-weight: bold;
  font-size: 20px;
}

.light input[type="text"] {
  width: 70%;
  height: 40px;
}

.light .submitItem {
  width: 100px;
  padding: 5px;
  background-color: dodgerblue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.light .todoContainer {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

@media screen and (max-width: 412px) {
  .light .todoContainer {
    flex-flow: column nowrap;
    max-width: 100%;
  }
}

.light .todoList {
  display: block;
  width: 50%;
  text-align: center;
}

.light .doneList {
  display: block;
  width: 50%;
  text-align: center;
}

.light #notDone {
  color: darkred;
  font-size: 55px;
}

.light #done {
  color: green;
  font-size: 50px;
}

.light .notDoneListContainer {
  width: 50%;
  padding: 5px;
}

@media screen and (max-width: 411px) {
  .light .notDoneListContainer {
    width: 100%;
  }
}

.light .notDoneListContainer h1 {
  text-transform: uppercase;
  text-align: center;
}

.light .notDoneListContainer p {
  font-size: 25px;
  text-align: center;
}

.light .doneListContainer {
  width: 50%;
  padding: 5px;
}

@media screen and (max-width: 411px) {
  .light .doneListContainer {
    width: 100%;
  }
}

.light .doneListContainer h1 {
  text-transform: uppercase;
  text-align: center;
}

.light .doneListContainer p {
  font-size: 25px;
  text-align: center;
}

.light .items {
  font-size: 28px;
  max-width: 100%;
  list-style-position: inside;
  padding: 0;
}

.light .items div {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.light .items li {
  background-color: Gainsboro;
  margin: 8px 0;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

.light #closeBtn {
  color: darkred;
  margin: 10px;
  font-size: 17px;
  border-radius: 5px;
}

.light .changeThemeBtn {
  padding: 6px;
  background-color: dodgerblue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/
body {
  max-width: 100%;
  margin: 0;
}

.main {
  display: block;
  max-width: 100%;
  padding: 7px;
}

