.dark {
    background-color: #1B1B1B;
}
.dark .mainHeader {
    display: block;
    font-size: 50px;
    text-align: center;
    width: 100vw;
    color: #919191;
}
.dark .main {
    display: block;
    width: 100vw;
}
.dark .addItemForm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100vw;
}
.dark input[type="text"] {
    width: 70%;
    height: 40px;
    background-color: #232323;
    color: #919191;
    outline: none;
    border: none;
}
.dark .submitItem {
    width: 100px;
    padding: 5px;
    background-color: #0C0F17;
    color: #919191;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.dark .addItemForm label {
    text-align: center;
    align-self: center;
    font-weight: bold;
    font-size: 20px;
    color: #919191;
}
.dark .todoContainer {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.dark .todoList {
    display: block;
    width: 50%;
    text-align: center;
}
.dark .notDoneListContainer h1 {
    text-transform: uppercase;
    text-align: center;
    color: #919191;
}
.dark .doneList {
    display: block;
    width: 50%;
    text-align: center;
}
.dark .doneListContainer h1 {
    text-transform: uppercase;
    text-align: center;
    color: #919191;
}
.dark p {
    font-size: 25px;
    text-align: center;
    color: #919191;
}
.dark #notDone {
    color: darkred;
    font-size: 55px;
}
.dark #done {
    color: green;
    font-size: 50px;
}
.dark .notDoneListContainer {
    width: 50%;
    padding: 5px;

}
.dark .doneListContainer {
    width: 50%;
    padding: 5px;
}
.dark .items {
    font-size: 28px;
    width: 100%;
    list-style-position: inside;
    padding: 0;
}
.dark .items div {
    display: flex;
    flex-flow: row nowrap;
}
.dark .items li {
    background-color: #232323;
    margin: 8px 0;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
}
.dark #closeBtn {
    color: darkred;
    margin: 10px;
    font-size: 17px;
    border-radius: 5px;
    background-color: #0C0F17;
    border: none;
}
.dark .changeThemeBtn {
    background-color: #0C0F17;
    color: #919191;
    border: none;
    padding: 6px;
    border-radius: 6px;
}

.light {
    background-color: white;
}
.light .mainHeader {
    display: block;
    font-size: 50px;
    text-align: center;
    width: 100vw;
}
.light .main {
    display: block;
    width: 100vw;
}
.light .addItemForm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100vw;
}
.light input[type="text"] {
    width: 70%;
    height: 40px;
}
.light .submitItem {
    width: 100px;
    padding: 5px;
    background-color: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.light .addItemForm label {
    text-align: center;
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}
.light .todoContainer {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.light .todoList {
    display: block;
    width: 50%;
    text-align: center;
}
.light .notDoneListContainer h1 {
    text-transform: uppercase;
    text-align: center;
}
.light .doneList {
    display: block;
    width: 50%;
    text-align: center;
}
.light .doneListContainer h1 {
    text-transform: uppercase;
    text-align: center;
}
.light p {
    font-size: 25px;
    text-align: center;
}
.light #notDone {
    color: darkred;
    font-size: 55px;
}
.light #done {
    color: green;
    font-size: 50px;
}
.light .notDoneListContainer {
    width: 50%;
    padding: 5px;

}
.light .doneListContainer {
    width: 50%;
    padding: 5px;
}
.light .items {
    font-size: 28px;
    width: 100%;
    list-style-position: inside;
    padding: 0;
}
.light .items div {
    display: flex;
    flex-flow: row nowrap;
}
.light .items li {
    background-color: Gainsboro;
    margin: 8px 0;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
}
.light #closeBtn {
    color: darkred;
    margin: 10px;
    font-size: 17px;
    border-radius: 5px;
}
.light .changeThemeBtn {
    padding: 6px;
    background-color: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}


