@import url("dark.css");
@import url("light.css");
body {
    max-width: 100%;
    margin: 0;
}
.main {
    display: block;
    max-width: 100%;
    padding: 7px;
}
h1 {
    @media screen and (max-width: 540px) {
        font-size: 23px;
    }
}
